@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Vazir.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/Vazir.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../fonts/Vazir.ttf') format('truetype'),
    /* Safari, Android, iOS */
}

/* Main Styling */
html,
body {
  font-family: 'Vazir', Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
}
.list{
  margin: 0.5rem;
  list-style: none;
}
.list li{
  border-bottom: 1px #444 dotted;
  padding: 0.5rem 0;
}
a {
  text-decoration: none;
}
.container{
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}
.bg-dark {
  background-color: #333;
  color: white;
}
.bg-light{
  background-color: #f4f4f4;
  color: #333;
}
.text-center{
  text-align: center;
}
.text-primary {
  color: orange;
}

.l-heading {
  font-size: 2rem;
}
.m-heading {
  font-size: 1rem;
}

.bold {
  font-size: 1rem;
  font-weight: bold;
}

.m-1 {
  margin: 1.25rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.p-1 {
  padding: 1.25rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}
.py-1{
  padding: 1.25rem 0;
}
.py-2{
  padding: 2rem 0;
}
.py-3{
  padding: 3rem 0;
}
.btn {
  color: white;
  background-color: orange;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.btn:hover {
  color: orange;
  background-color: white;
}
.text-center{
  text-align: center;
}
#navbar a {
  color: white;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: row-reverse;
}

#navbar ul li a {
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background-color: orange;
  color: white;
  border-radius: 5px;
}

#showcase {
  background: #333 url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;

}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}
#section1 .items{
  display: flex;
  padding: 1rem;
}
#section1 .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#section1 .items .item i{
  background-color: orange;
  padding: 1.25rem;
  border-radius: 50%;
}
#section2{
  display: flex;
  
}
#section2 div{
  flex: 1;
}
#section2 .img{
  background: url(../img/section2.jpg) no-repeat center center/cover;
 
 
}
#section2 .content{
  text-align: right;
}
#section3 .items{
  display: flex;

}
#section3 .items div{
  flex: 1;
}
#section3 .items img{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 60%;
}
#contact{
  display: flex;
  justify-content: center;
}
.contact-form{
  flex-basis: 600px;
  text-align: right;
}
.contact-form label{
  display: block;
  margin: 1rem 0;
}
.contact-form input,
.contact-form textarea{
  width: 100%;
  padding: 0.5rem;
}
#main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}